* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 10vh auto;
    width: 80vw;
    background-color: #59C9A5;
    font-family: 'Tenor Sans', sans-serif;
}

#container {
    background-color: ivory;
    border-radius: 25px;
    padding: 5vw;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
    row-gap: 2vh;
}

#textareas {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 2vw;
    row-gap: 2vh;
    padding: 3vh;
}

#output{
    background-color: #EBEBEB;
}

textarea {
    flex: 1 1 auto;
    resize: none;
    border: 2px solid #acacac;
    padding: 5px;
}

textarea:read-only {
    cursor: default;
}

button {
    background-color: #D81E5B;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: #FFD400;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Quantico', sans-serif;
}

button:hover {
    background-color: #23395B;
    color: ivory;
}

#title {
    padding-bottom: 15px;
    font-size: 4rem;
    text-align: center;
    color: #2F323A;
    font-family: 'Princess Sofia', cursive;
}